* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

ul {
  list-style-type: none;
  overflow: hidden;
  padding: 20px;
}

li {
  float: right;
}

li a {
  color: #87898B;
  display: block;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 200;
}

li a:hover {
  text-decoration: underline;
}

.grid {
  height: 25px;
  position: relative;
  bottom: 4px;
}

.signbutton {
  background-color: #4885ed;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 7px 10px;
  position: relative;
  bottom: 7px;
  font-weight: 200;
}

.logo {
  margin-top: 100px;
  margin-bottom: 20px;
  text-align: center;
}

.bar {
  margin: 0 auto;
  width: 575px;
  border-radius: 30px;
  border: 1px solid #dcdcdc;
  padding: 0 20px;
  position: relative;
}

.search-icon {
  position: absolute;
  padding-top: 10px;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  color: #707070;
  font-size: 18px;
  cursor: pointer;
}

.bar:hover,
.bar:focus-within {
  box-shadow: 1px 1px 8px 1px #dcdcdc;
  outline: none;
}

.searchbar {
  height: 45px;
  border: none;
  width: 500px;
  font-size: 16px;
  margin-top: 2px;
  outline: none;
  padding-left: 40px;
}

.voice {
  height: 20px;
  position: relative;
  top: 5px;
  left: 10px;
}

.buttons {
  margin-top: 30px;
  text-align: center;
}

.button {
  background-color: #f5f5f5;
  border: none;
  color: #707070;
  font-size: 15px;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 20px;
  outline: none;
  cursor: pointer;
}

.button:hover {
  border: 1px solid #c8c8c8;
  padding: 9px 19px;
  color: #808080;
}

.button:focus {
  border: 1px solid #4885ed;
  padding: 9px 19px;
}

.result-list {
  margin: 10px auto;
  width: 575px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

#result-box {
  padding: 5px;
  max-height: 200px;
  overflow-y: auto;
  display: none;
}

#result-box p {
  font-size: 16px;
  margin: 5px 0;
  padding: 8px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

#result-box p:hover {
  background-color: #EAEAEA;
}
